<div class="home-callout text-center container-fluid">
    <h1><i class="fa fa-heart"></i> Welcome to Furiends Forever Pet Services <i class="fa fa-heart"></i></h1>
    <h3>Loving, Professional, and Affordable Dog Walking and Pet Sitting</h3>
</div>