<div class="home-callout text-center container-fluid">
    <h1>Welcome to
        <span class="pink-text1">FUR</span>
        <span class="black-text">IENDS   </span>
        <span class="black-text">FOR</span>
        <span class="pink-text2">EVER</span>
    Pet Services</h1>
    <h3>Loving, Professional, and Affordable Dog Walking and Pet Sitting</h3>
</div>