<div class="home-callout text-center container-fluid">
    <h1><i class="fa fa-heart"></i> Welcome to Furiends Forever Pet Services <i class="fa fa-heart"></i></h1>
    <h3>Loving, Professional, and Affordable Dog Walking and Pet Sitting</h3>
</div>
<div class="container-fluid pic-text1">
    <div class="row row1">
        <div class="col-md-6 float-left">
            <%= image_tag("cassi16", class: "picture1") %>
        </div>
        <div class="col-md-6 text-center text1">
            <p>Animals are good at making us happy, and we love to make them happy by offering a variety of services for you and your fur babies.</p>
        </div>
    </div>
</div>
<div class="container-fluid pic-text2">
    <div class="row">
        <div class="col-md-6 text-center text2">
            <p>Services include feeding them and making sure that their bathroom is pristine...</p>
        </div>
        <div class="col-md-6 float-right">
            <%= image_tag("cassi14", class: "picture2") %>
        </div>
    </div>
</div>
<div class="container-fluid pic-text3">
    <div class="row">
        <div class="col-md-6 float-left">
            <%= image_tag("cassi11", class: "picture3") %>
        </div>
        <div class="col-md-6 text-center text3">
            <p>...and getting good walkies...</p>
        </div>
    </div>
</div>
</div>
<div class="container-fluid pic-text4">
    <div class="row">
        <div class="col-md-6 text-center text4">
            <p>...and expelling the zoomies...</p>
        </div>
        <div class="col-md-6 float-right">
            <%= image_tag("cassi23", class: "picture4") %>
        </div>
    </div>
</div>